<footer>
    <h1>Travel with us</h1>
    <h6>Take only memories, leave only footprints</h6>
<div class="table-footer-group">
    <header>
        <h1>GoTravel</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A odio non nemo veniam, natus accusantium. Praesentium, doloribus mollitia dignissimos similique optio</p>
        <div class="social-icons">
            <div>
                <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png"/>
                <i class="fab fa-whatsapp"></i>
                <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                <i class="fab fa-facebook"></i>
                <img src="https://img.icons8.com/color/48/000000/instagram-new.png"/>
                <i class="fab fa-instagram"></i>
                <img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/>
                <i class="fab fa-twitter"></i>
        </div>
    </header>
    <div class="sections-container">
        <section class="reservations">
            <h2>Reservations</h2>
            <ul>
                <li>Hotels</li>
                <li>Tour Packages</li>
                <li>Vehicles</li>
                <li>Restaurants</li>
                <li>Events</li>
            </ul>
               
        </section>
        <aside class="support">
            <h2>Support</h2>
            <ul>
                <li>FAQ</li>
                <li>Terms and Conditions</li>
                <li>Privacy Policy</li>
                <li>Support</li>
            </ul>
        </aside>
    </div>
</div>
</footer>

</body>

</html>