<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="PlaneBooking.css" />
    
    <title> GoTravel</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">GoTravel</div>
      <ul class="nav__links">
        <li class="link"><a href="/">Home</a></li>
        <li class="link"><a href="#">About Us</a></li>
        <li class="link"><a href="#">Reservations</a></li>
      </ul>
    </nav>
    <header class="section__container header__container">
      <h1 class="section__header">Find And Book<br />A Great Experience</h1>
      <img src="/assets/images/image.png" alt="header" />
    </header>

    <section class="section__container booking__container">
      <div class="booking__nav">
        <span>Economy Class</span>
        <span>Business Class</span>
        <span>First Class</span>
      </div>
      <form>
        <div class="form__group">
          <span><i class="ri-map-pin-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input type="text" />
              <label>Location</label>
            </div>
            <p>Where are you goung?</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-user-3-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input type="number" />
              <label>Travellers</label>
            </div>
            <p>Add guests</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-calendar-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input type="text" />
              <label>Departure</label>
            </div>
            <p>Add date</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-calendar-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input type="text" />
              <label>Return</label>
            </div>
            <p>Add date</p>
          </div>
        </div>
        <button class="btn"><i class="ri-search-line"></i></button>
      </form>
    </section>

    <section class="section__container plan__container">
      <p class="subheader">TRAVEL SUPPORT</p>
      <h2 class="section__header">Plan your travel with confidence</h2>
      <p class="description">
        Find help with your bookings and travel plans, and seee what to expect
        along your journey.
      </p>
      <div class="plan__grid">
        <div class="plan__content">
          <span class="number">01</span>
          <h4>Travel Requirements for Dubai</h4>
          <p>
            Stay informed and prepared for your trip to Dubai with essential
            travel requirements, ensuring a smooth and hassle-free experience in
            this vibrant and captivating city.
          </p>
          <span class="number">02</span>
          <h4>Multi-risk travel insurance</h4>
          <p>
            Comprehensive protection for your peace of mind, covering a range of
            potential travel risks and unexpected situations.
          </p>
          <span class="number">03</span>
          <h4>Travel Requirements by destinations</h4>
          <p>
            Stay informed and plan your trip with ease, as we provide up-to-date
            information on travel requirements specific to your desired
            destinations.
          </p>
        </div>
        <div class="plan__image">
          <img src="https://w0.peakpx.com/wallpaper/230/262/HD-wallpaper-airplane-wings-cool-sky-travel-traveller.jpg" alt="plan" />
          <img src="https://s2.best-wallpaper.net/wallpaper/iphone/1810/Airport-plane-sunrise_iphone_320x480.jpg" alt="plan" />
          <img src="https://images.unsplash.com/photo-1534994820022-ec2b00d8cd42?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmUlMjB3aW5nfGVufDB8fDB8fHww" alt="plan" />
        </div>
      </div>
    </section>

    <section class="memories">
      <div class="section__container memories__container">
        <div class="memories__header">
          <h2 class="section__header">
            Travel to make memories all around the world
          </h2>
          <button class="view__all">View All</button>
        </div>
        <div class="memories__grid">
          <div class="memories__card">
            <span><i class="ri-calendar-2-line"></i></span>
            <h4>Book & relax</h4>
            <p>
              With "Book and Relax," you can sit back, unwind, and enjoy the
              journey while we take care of everything else.
            </p>
          </div>
          <div class="memories__card">
            <span><i class="ri-shield-check-line"></i></span>
            <h4>Smart Checklist</h4>
            <p>
              Introducing Smart Checklist with us, the innovative solution
              revolutionizing the way you travel with our airline.
            </p>
          </div>
          <div class="memories__card">
            <span><i class="ri-bookmark-2-line"></i></span>
            <h4>Save More</h4>
            <p>
              From discounted ticket prices to exclusive promotions and deals,
              we prioritize affordability without compromising on quality.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container lounge__container">
      <div class="lounge__image">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/440577805_399499776301336_6531932559007663272_n.png?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeECQr_NKCtPZcluClfnjm7KJPxdBApbowck_F0EClujBz_HpO9Uk1Hw4iByZzlQ_3K7r3S7gZXmn2GBPRjh4q8x&_nc_ohc=vvCtJ9YcghYAb7sbEfL&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QHofyqEt9ko6VGuZJsOoWwW9l0qeKEqNAMINFTUktfSTw&oe=6657494F" alt="lounge" />
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/440492909_1369493157158961_2542327884143237249_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFIWR8S3oEnUq5tQ_7Cdp6kuMK-zGUXkgS4wr7MZReSBIGWEWKQb1bWwCxpp92beOqMiyWd8ZY46rqZoUUeMbj1&_nc_ohc=bCMxH6kxySwAb5oFUBp&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QFDMt8dqJdS-Vt9HSXTI14hECF6t-zJqoUeQOa4zP_jMQ&oe=66574ABB" alt="lounge" />
      </div>
      <div class="lounge__content">
        <h2 class="section__header">Unaccompanied Minor Lounge</h2>
        <div class="lounge__grid">
          <div class="lounge__details">
            <h4>Experience Tranquility</h4>
            <p>
              Serenity Haven offers a tranquil escape, featuring comfortable
              seating, calming ambiance, and attentive service.
            </p>
          </div>
          <div class="lounge__details">
            <h4>Elevate Your Experience</h4>
            <p>
              Designed for discerning travelers, this exclusive lounge offers
              premium amenities, assistance, and private workspaces.
            </p>
          </div>
          <div class="lounge__details">
            <h4>A Welcoming Space</h4>
            <p>
              Creating a family-friendly atmosphere, The Family Zone is the
              perfect haven for parents and children.
            </p>
          </div>
          <div class="lounge__details">
            <h4>A Culinary Delight</h4>
            <p>
              Immerse yourself in a world of flavors, offering international
              cuisines, gourmet dishes, and carefully curated beverages.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container travellers__container">
      <h2 class="section__header">Best travellers of the month</h2>
      <div class="travellers__grid">
        <div class="travellers__card">
          <img src="" alt="traveller" />
          <div class="travellers__card__content">
            <img src="" alt="client" />
            <h4>X</h4>
            <p>Dubai</p>
          </div>
        </div>
        <div class="travellers__card">
          <img src="assets/traveller-2.jpg" alt="traveller" />
          <div class="travellers__card__content">
            <img src="" alt="client" />
            <h4>y</h4>
            <p>England</p>
          </div>
        </div>
        <div class="travellers__card">
          <img src="assets/traveller-3.jpg" alt="traveller" />
          <div class="travellers__card__content">
            <img src="assets/client-3.jpg" alt="client" />
            <h4>Olivia Brown</h4>
            <p>Singapore</p>
          </div>
        </div>
        <div class="travellers__card">
          <img src="assets/traveller-4.jpg" alt="traveller" />
          <div class="travellers__card__content">
            <img src="assets/client-4.jpg" alt="client" />
            <h4>Daniel Taylor</h4>
            <p>Malaysia</p>
          </div>
        </div>
      </div>
    </section>

    <section class="subscribe">
      <div class="section__container subscribe__container">
        <h2 class="section__header">Subscribe newsletter & get latest news</h2>
        <form class="subscribe__form">
          <input type="text" placeholder="Enter your email here" />
          <button class="btn">Subscribe</button>
        </form>
      </div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3></h3>
          <p>
            Where Excellence Takes Flight. With a strong commitment to customer
            satisfaction and a passion for air travel, Flivan Airlines offers
            exceptional service and seamless journeys.
          </p>
          <p>
            From friendly smiles to state-of-the-art aircraft, we connect the
            world, ensuring safe, comfortable, and unforgettable experiences.
          </p>
        </div>
        <div class="footer__col">
          <h4>INFORMATION</h4>
          <p>Home</p>
          <p>About</p>
          <p>Offers</p>
          <p>Seats</p>
          <p>Destinations</p>
        </div>
        <div class="footer__col">
          <h4>CONTACT</h4>
          <p>Support</p>
          <p>Media</p>
          <p>Socials</p>
        </div>
      </div>
      <div class="section__container footer__bar">
        <p>Copyright © 2023 Web Design Mastery. All rights reserved.</p>
        <div class="socials">
          <span><i class="ri-facebook-fill"></i></span>
          <span><i class="ri-twitter-fill"></i></span>
          <span><i class="ri-instagram-line"></i></span>
          <span><i class="ri-youtube-fill"></i></span>
        </div>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="PlaneBooking.css" />
    <title>GoTravel</title>
    <style>
      .package-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 16px;
        padding: 16px;
        transition: transform 0.2s ease-in-out;
      }

      .package-card:hover {
        transform: translateY(-10px);
      }

      .package-card h3 {
        font-size: 1.5em;
        margin: 0;
        color: #333;
      }

      .package-card p {
        margin: 8px 0;
        font-size: 1em;
        color: #555;
      }

      .package-card .price {
        font-size: 1.2em;
        font-weight: bold;
        color: #e94b3cff;
      }

      .package-card .details {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
      }

      .package-card .details span {
        font-size: 0.9em;
        color: #777;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav__logo">GoTravel</div>
      <ul class="nav__links">
        <li class="link"><a href="/">Home</a></li>
        <li class="link"><a href="/about">About Us</a></li>
        <li class="link"><a href="/finddestination">Reservations</a></li>
      </ul>
    </nav>
    <header class="section__container header__container">
      <h1 class="section__header">Find And Book<br />A Great Experience</h1>
      <img src="/assets/images/image.png" alt="header" />
    </header>

    <section class="section__container booking__container">
      <div class="booking__nav">
        <h2 class="section__header">Plan your travel with confidence</h2>
      </div>
      <form>
        <div class="form__group">
          <span><i class="ri-map-pin-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input
                type="text"
                id="location"
                name="location"
                placeholder="Location"
              />
            </div>
            <p>Where are you going?</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-calendar-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input
                type="date"
                id="departureDate"
                name="departureDate"
                placeholder="Departure"
              />
            </div>
            <p>Add date</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-calendar-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input
                type="date"
                id="returnDate"
                name="returnDate"
                placeholder="Return"
              />
            </div>
            <p>Add date</p>
          </div>
        </div>
        <button class="btn" id="searchButton" type="submit">
          <i class="ri-search-line"></i>
        </button>
      </form>
    </section>

    <section class="section__container results__container">
      <div class="packages-container"></div>
    </section>

    <section class="section__container plan__container">
      <p class="subheader">TRAVEL SUPPORT</p>
      <h2 class="section__header">Plan your travel with confidence</h2>
      <p class="description">
        Find help with your bookings and travel plans, and see what to expect
        along your journey.
      </p>
      <div class="plan__grid">
        <div class="plan__content">
          <span class="number">01</span>
          <h4>Travel Requirements for Dubai</h4>
          <p>
            Stay informed and prepared for your trip to Dubai with essential
            travel requirements, ensuring a smooth and hassle-free experience in
            this vibrant and captivating city.
          </p>
          <span class="number">02</span>
          <h4>Multi-risk travel insurance</h4>
          <p>
            Comprehensive protection for your peace of mind, covering a range of
            potential travel risks and unexpected situations.
          </p>
          <span class="number">03</span>
          <h4>Travel Requirements by destinations</h4>
          <p>
            Stay informed and plan your trip with ease, as we provide up-to-date
            information on travel requirements specific to your desired
            destinations.
          </p>
        </div>
        <div class="plan__image">
          <img
            src="https://w0.peakpx.com/wallpaper/230/262/HD-wallpaper-airplane-wings-cool-sky-travel-traveller.jpg"
            alt="plan"
          />
          <img
            src="https://s2.best-wallpaper.net/wallpaper/iphone/1810/Airport-plane-sunrise_iphone_320x480.jpg"
            alt="plan"
          />
          <img
            src="https://images.unsplash.com/photo-1534994820022-ec2b00d8cd42?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmUlMjB3aW5nfGVufDB8fDB8fHww"
            alt="plan"
          />
        </div>
      </div>
    </section>

    <section class="memories">
      <div class="section__container memories__container">
        <div class="memories__header">
          <h2 class="section__header">
            Travel to make memories all around the world
          </h2>
          <button class="view__all">View All</button>
        </div>
        <div class="memories__grid">
          <div class="memories__card">
            <span><i class="ri-calendar-2-line"></i></span>
            <h4>Book & relax</h4>
            <p>
              With "Book and Relax," you can sit back, unwind, and enjoy the
              journey while we take care of everything else.
            </p>
          </div>
          <div class="memories__card">
            <span><i class="ri-shield-check-line"></i></span>
            <h4>Smart Checklist</h4>
            <p>
              Introducing Smart Checklist with us, the innovative solution
              revolutionizing the way you travel with our airline.
            </p>
          </div>
          <div class="memories__card">
            <span><i class="ri-bookmark-2-line"></i></span>
            <h4>Save More</h4>
            <p>
              From discounted ticket prices to exclusive promotions and deals,
              we prioritize affordability without compromising on quality.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container lounge__container">
      <div class="lounge__image">
        <img
          src="https://static1.squarespace.com/static/5890b68b29687f4ab795714c/58a0628aa5790a7c3fbed8b7/5e0f1cc4b798ea3c9a3aa733/1597236532853/plane+seats.jpg?format=1500w"
          alt="lounge"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD_Aun5IFL5tfJzbp6Yjq8tb9jbyNe4zPq7g&s"
          alt="lounge"
        />
      </div>
      <div class="lounge__content">
        <h2 class="section__header">Unaccompanied Minor Lounge</h2>
        <div class="lounge__grid">
          <div class="lounge__details">
            <h4>Experience Tranquility</h4>
            <p>
              Serenity Haven offers a tranquil escape, featuring comfortable
              seating, calming ambiance, and attentive service.
            </p>
          </div>
          <div class="lounge__details">
            <h4>Elevate Your Experience</h4>
            <p>
              Designed for discerning travelers, this exclusive lounge offers
              premium amenities, assistance, and private workspaces.
            </p>
          </div>
          <div class="lounge__details">
            <h4>A Welcoming Space</h4>
            <p>
              Creating a family-friendly atmosphere, The Family Zone is the
              perfect haven for parents and children.
            </p>
          </div>
          <div class="lounge__details">
            <h4>A Culinary Delight</h4>
            <p>
              Immerse yourself in a world of flavors, offering international
              cuisines, gourmet dishes, and carefully curated beverages.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="subscribe">
      <div class="section__container subscribe__container"></div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3></h3>
          <p>
            Where Excellence Takes Flight. With a strong commitment to customer
            satisfaction and a passion for air travel, we offer exceptional
            service and seamless journeys.
          </p>
          <p>
            From friendly smiles to state-of-the-art aircraft, we connect the
            world, ensuring safe, comfortable, and unforgettable experiences.
          </p>
        </div>
        <div class="footer__col">
          <h4>INFORMATION</h4>
          <p>Home</p>
          <p>About</p>
          <p>Offers</p>
          <p>Seats</p>
          <p>Destinations</p>
        </div>
        <div class="footer__col">
          <h4>CONTACT</h4>
          <p>Support</p>
          <p>Media</p>
          <p>Socials</p>
        </div>
      </div>
      <div class="section__container footer__bar">
        <div class="socials">
          <span><i class="ri-facebook-fill"></i></span>
          <span><i class="ri-twitter-fill"></i></span>
          <span><i class="ri-instagram-line"></i></span>
          <span><i class="ri-youtube-fill"></i></span>
        </div>
      </div>
    </footer>
    <script src="script.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");

        form.addEventListener("submit", async (e) => {
          e.preventDefault();

          const location = document.querySelector("#location").value;
          const departureDate = document.querySelector("#departureDate").value;
          const returnDate = document.querySelector("#returnDate").value;

          try {
            const response = await fetch(
              `/dashboard/planeSearch?location=${location}&departureDate=${departureDate}&returnDate=${returnDate}`
            );

            if (!response.ok) {
              throw new Error("Failed to fetch search results");
            }

            const packages = await response.json();
            console.log(packages);
            displayPackages(packages);
          } catch (error) {
            console.error("Error fetching search results:", error);
          }
        });

        function displayPackages(packages) {
          const container = document.querySelector(".packages-container");
          container.innerHTML = "";

          if (packages.length === 0) {
            container.innerHTML = "<p>No packages found</p>";
            return;
          }

          packages.forEach((pkg) => {
            const card = document.createElement("div");
            card.className = "package-card";
            card.innerHTML = `
                        <img src="${pkg.img}" alt="${pkg.plane_name}" />
                        <h3>${pkg.plane_name}</h3>
                        <p class="price">Price: $${pkg.price}</p>
                        <div class="details">
                            <span>Guests: ${pkg.guest_number}</span>
                            <span>Departure: ${pkg.departure_date}</span>
                            <span>Return: ${pkg.return_date}</span>
                            <span>Location: ${pkg.location}</span>
                        </div>
                        <button class="book-now-button">Book Now</button>
                    `;
            container.appendChild(card);
          });
          const bookNowButtons = document.querySelectorAll(".book-now-button");
          bookNowButtons.forEach((button) => {
            button.addEventListener("click", () => {
              alert("Booking successful!");
            });
          });
        }
      });
    </script>
  </body>
</html>
