/* destination design */

body {
    font-family: Arial, sans-serif;
}

header {
width: 80%;
height: 95vh;

margin:  auto;
}

header {
    background-color: white;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    z-index: 3;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
}

nav ul li:hover ul {
    display: block;
    z-index: 1;
}

nav ul li ul li {
    margin: 5px 0;
}

nav ul li ul li a {
    color: #333;
    text-decoration: none;
}

.auth-buttons {
    margin-left: auto;
}

.auth-buttons a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

header .content{
    position: relative;
    width: 100%;
    height: 75%;
   
}

header nav h1{
    margin-left: -55px;
}

header .content::before{
    content: '';	
    position: absolute;
    width: 100%;
    height: 100%;
    /*border: 1px solid #000;*/
    background: url('https://i.pinimg.com/originals/c3/35/8b/c3358bb87f18cf8bedac5b5f63710a0f.jpg')no-repeat center center/cover;
    border-radius: 10px;
    margin-left: -612px;
}

.cont_bx {
    position: relative;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: top;
    z-index: 1; /* Add a higher z-index */
    color: white; /* Example text color */
}

.cont_bx p {
   margin-left: 60px;
}

.cont_bx button {
    margin-left: -30px;
}

header .content .cont_bx{
    width: 500px;
    height: auto;
    color: #fff;
    padding: 30px;
}

header .content .cont_bx h2{
    line-height: 40px;
    font-weight: 700;
}

header .content .cont_bx p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(241, 241, 241);
   
}

header .content .cont_bx button{
   margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #000;
    background: #000;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
}

header .content .cont_bx button:hover{
    background: rgb(113, 113, 113);
    border: 2px solid rgb(113, 113, 113);
}

header .trip_bx{
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    /*border: 1px solid #000;*/
}


header .trip_bx .search_bx{
   position: absolute;
   top: 0;
   left: 2%;
   width: 60%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgb(114, 114, 114);
    z-index: 1;
    padding: 10px 20px;
}

header .trip_bx .search_bx .card{
    width: 200px;
    height: 100%;
    /*border: 1px solid #000;*/
   
}

header .trip_bx .search_bx .card h4{
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}

header .trip_bx .search_bx .card input{
    margin-top: 3px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
}

header .trip_bx .search_bx input[type="button"]{
    
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s linear;
}

header .trip_bx .search_bx input[type="button"]:hover{
    background: gray;
}

header .trip_bx .Travel_bx{
   position: relative;
   width: 100%;
    height: auto;
    margin: auto;
    top: 40px;
    right: -23px;
    left: 572px;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 20px 25px -10px rgb(165, 165, 165);   
}

header .trip_bx .Travel_bx::before{

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(241, 241, 241, .7);
    background-color: blur(10px);
    z-index: -1;
    margin-left: -571px;


}

.Travel_bx {
    position: absolute;
    top: 10%;
    left: 52.3%;
    transform: translateX(-50%);
    text-align: bottom;
    z-index: 0; /* Add a higher z-index */
    color: black; /* Example text color */
}


header .trip_bx .Travel_bx h4{
    margin: 0.7%;
    padding: 60px 0px 15px 1.1%;
    
}

header .trip_bx .Travel_bx .cards{
    width: 96%;
    height: auto;
    margin: 0 auto;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .trip_bx .Travel_bx .cards .card{
    width: 220px;
    height: 180px;
   
    
}

header .trip_bx .Travel_bx .cards .card h3{
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

header .trip_bx .Travel_bx .cards .card h3 img{
   width: 20px;
   height: 20px;
   margin-left: 5px;
}

header .trip_bx .Travel_bx .cards .card img{
    width: 100%;
    height: 50%;
}

header .trip_bx .Travel_bx .cards .card .btn_city{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .trip_bx .Travel_bx .cards .card .btn_city a{
    text-decoration: none;
    background: #000;
    color: #fff;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 11px;
    transition: .3s linear;
}
            
header .trip_bx .Travel_bx .cards .card .btn_city a:hover{
    background: gray;
}

header .trip_bx .Travel_bx .cards .card .btn_city h5{
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
    line-height: 15px;
}

header .trip_bx .Travel_bx .cards .card .btn_city h5 span{
   font-size: 13px;
    font-weight: 700;
}

.offers{
    width: 60%;
    height: auto;
    margin: auto;
    /*border: 1px solid #000;*/
    margin-top: 100px;
    transition: .5s linear;
}

.offers h1{
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.offers p{
    font-weight: 500;
    text-align: center;
    margin: 0;

}

.offers .cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* border: 1px solid #000;*/
    flex-wrap: wrap;
}

.offers .cards .card{
    position: relative;
    width: 200px;
    height: 350px;
   /* border: 1px solid #000;*/
    margin: 10px;
    
}

.offers .cards .card h3{

    width: 140px;
    padding: 6px 0px;
    background: rgb(165, 243, 165);
    border-radius: 20px;
    font-size: 12px;
    display: grid;
    place-items: center;
    margin: auto;
}

.offers .cards .card .img_text{
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 5px;
}

.offers .cards .card .img_text img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.offers .cards .card .img_text h4{
    content: '';
    position: absolute;
    font-size: 9px;
    bottom: 0;
    margin: 0;
    padding: 10px 15px;
    color: #000;
    z-index: 2;
}

.offers .cards .card .img_text h4::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0255, 255, 255, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    bottom: 0;
    left: 0;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.info-box .likes {
    color: #777;
    font-size: 14px;
}

.likes{
    margin-bottom: 40px;
}

.info-box .likes i {
    margin-right: 5px;
}

.info-box .details {
    text-align: right;
}

.info-box .details p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.offers .cards .card .info-box .price .likes{

display: flex;
align-items: center;
    
}

.offers .cards .card .info-box .price{
    font-size: 16px;
    font-weight: 600;
}

.offers .cards .card .info-box .price .info_price{
    display: flex;
    align-items: center;
    margin-top: 3px;  
   
}

.offers .cards .card .info-box .price .info_price a{
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: 700;
    transition: .3s linear;
    margin-right: 13px;
    margin: -60px 20px 0 12px;
}

.offers .cards .card .info-box .price .info_price a:hover{
    color: gray;
}

.offers .cards .card .info-box .price .info_price h4{
    font-size: 13px;
    margin-right: 2px;
    margin: -60px 10px 0 0;
}

.offers .cards .card .info-box .days{
   color : #fff;
    background: #000;
    padding:  10px;
    text-align: center;
    border-radius: 70%;
    font-size: 8px;
    cursor: pointer;
    transition: .3s linear;
    margin : -30px 0 0 0;
}

.offers .cards .card .info-box .days:hover{
    transform: rotate(360deg);
    background: gray;
}

.destination {
    width: 45%;
    height: auto;
    
    margin: auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.destination .des_bx , .img_bx{
    position: relative;
    width: 50%;
    height: auto;
}

.destination .des_bx h4{
    margin: 0;
    font-size: 20px;
    color: #000;
    line-height: 10px;
    letter-spacing: 1px;
 }

.destination .des_bx p{
    
    font-size: 12px;
}

.destination .des_bx li{
    list-style-type: none;
    padding: 0px 0px 8px 0px;
    font-size: 12px;
    font-weight: 500;
}

.destination .des_bx h6{
    width: 250px;
    font-size: 12px;
    font-weight: 500;
    margin: 20px 0;
}

.destination .des_bx button{
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    transition: .3s linear;
}

.destination .des_bx button:hover{
    background: gray;
    border: 2px solid gray;
}

.destination .img_bx img{
    width: 100%;
    height: 420px;
    border-radius: 5px;
}

.destination .img_bx .msg{
    position: absolute;
    top: 50%;
    left:-10%;
    width: 160px;
    height: 50px;
    background: #fff;
    box-shadow: 0px 5px 20px gray;
    display: flex;align-items: center;
    padding: 0px 10px;
}

.destination .img_bx .msg img{
    width: 30px;
    height: 55%;
   
}

.destination .img_bx .msg .cont{
    margin-left: 10px;
    display: center;
    font-size: 12px;
}

.destination .img_bx .msg .cont h4{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.destination .img_bx .msg:nth-child(2){
    top: 10%;
    left: 55%;
}

footer {
    width: 100%;
    height: auto;
    background: rgb(249, 249, 255)  ;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h2{
    text-align: center;
    margin: 0;
    margin-top: 25px;
    line-height: 30px;
    font-weight: 600;
}

footer p{
    text-align: center;
    width: 400px;
    font-size: 13px;
   
}

footer .input{
    box-shadow: 0px 3px 10px 20px -1px gray;
    border-radius: 20px;
}

footer .input input{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 20px 0px 0px 20px;
}

footer .input button{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

footer .input button:hover{
    background: gray;
}

footer ul{
    list-style-type: none;
    display: flex;
    /*align-items: center;*/
    margin-top: 30px;
}

footer ul li{
    margin-right: 30px;
    text-align: center;
    font-weight: bold;
}

footer ul li h6{
    font-size: 11px;
    font-weight: 600;
    max-width: 120px;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid #000;
    padding-top: 3px;
}

.explore {
    background-color: black;
    border: #333;
    color: white;
    border-radius: 9999px;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.explore:hover {
    background-color: gray;
}

 Footer styles 

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

header {
    margin-bottom: 10px;
    text-align: center;
}

header p {
    font-size: 18px;
    text-align: center;
    margin-right: 80px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    margin: 0 10px;
    font-size: 24px;
}

.reservations,
.support {
    margin-bottom: 50px;
}

.reservations h2,
.support h2 {
    margin-bottom: 20px;
}

.reservations ul,
.support ul {
    list-style-type: none;
    padding: 0;
    display: grid;
}

.reservations ul li,
.support ul li {
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 35px;
}

.reservations ul li:last-child,
.support ul li:last-child {
    margin-bottom: 0;
}








